
 {% extends "myapp/base.html" %}
 {% block content %}

 <form method="POST" action="{% url 'users:login' %}">

 {% csrf_token %}
<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Login now!</h1>
        <p class="py-6">Please enter your credentials.</p>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Username</span>
            </label>
            <input type="text" name="username" placeholder="username" class="input input-bordered" required id="id_username"/>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="password" name="password" placeholder="password" class="input input-bordered" required id="id_password"/>
            <label class="label">

              {% comment %} <label for="id_username">Username:</label>
              <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
              
              
            </p>
          
            
            <p>
              <label for="id_password">Password:</label>
              <input type="password" name="password" autocomplete="current-password" required id="id_password">
               {% endcomment %}
              
              <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
            </label>
          </div>
          <div class="form-control mt-6">
            <button class="btn btn-primary" type="submit" value="Login">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
  {% endblock %}

{% comment %} <h2>Log In</h2>
<form method="POST">
  {% csrf_token %}  
  {{form.as_p}}
<button type="submit">Log In</button>
</form> {% endcomment %}