{% extends "myapp/base.html" %}
{% block content %}
<h1 class="text-2xl font-bold m-10">👤User Registration</h1>
<form class="w-2/5 shadow-md m-10 p-10" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-5">
        <label class="block text-grey-700 text-sm font-bold mb-2" for="">User Name</label>
        <div class="appearance-none shadow border rounded-lg text-grey-800">
        {{form.username}}
    </div>
    <div class="mb-5">
        <label class="block text-grey-700 text-sm font-bold mb-2" for="">E Mail</label>
        <div class="appearance-none shadow border rounded-lg text-grey-800">
        {{form.email}}
    </div>
    <div>
        <div class="mb-5">
            <label class="block text-grey-700 text-sm font-bold mb-2" for="">Password</label>
            <div class="appearance-none shadow border rounded-lg text-grey-800">
            {{form.password1}}
        </div>
        <div>
            <div class="mb-5">
                <label class="block text-grey-700 text-sm font-bold mb-2" for="">Confirm Password</label>
                <div class="appearance-none shadow border rounded-lg text-grey-800">
                {{form.password2}}
            </div>
            <div class="mb-5">
                <button class="btn btn-outline btn-primary" type="submit">Submit</button>
            </div>


                {% endblock %}