{% extends "myapp/base.html" %}
{% block content %}
<h1 class="text-2xl font-bold m-10">🗑️Delete product</h1>
<form class="w-2/5 shadow-md m-10 p-10" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-5">
        <label class="block text-grey-700 text-sm font-bold mb-2" for="">Product Name : {{p.name}}</label>
    </div>
    <div class="mb-5">
        <label class="block text-grey-700 text-sm font-bold mb-2" for="">Product Price : {{p.price}}</label>
    </div>
    <div>
        <div class="mb-5">
            <label class="block text-grey-700 text-sm font-bold mb-2" for="">Product Description : {{p.description}}</label>
        </div>
        <div>
            <div class="mb-5">
                <label class="block text-grey-700 text-sm font-bold mb-2" for="">Product Image</label>
                <img class="w-36 mb-3 rounded-lg text-grey-800" src="{{p.image.url}}" alt="Image not found">
            </div>
            <div class="mb-5">
                <input class="btn" type="submit" accept="image/*" name="Delete Product" value="Delete Product">
            </div>
        </form>


                {% endblock %}